body{
	display: grid;
	grid-template-columns: 250px 1fr;
	background-color: #249BCA;
	margin: 0;
	padding: 0;
}

.hamburger-button{

	visibility: hidden;
}

.button-box{
	grid-column: 1;
	display: flex;
	flex-direction: column;
	background-color: #FFFFFF;
	border-right: 2px solid #FFFFFF;
	height: 100vh;
}

.topicSearch{
	border: none;
	background: none;
	color: #249BCA;
	font-size: 150%;
	display: flex;
	justify-content: flex-end;
}

.topicSearch:hover{

	font-size: 200%;
}

.search-box{
	/*width: 100%;*/
	/*grid-row: 1;*/
	grid-column: 1;
	display: flex;
	justify-content: space-around;
	/*margin-right: 100px;*/
	align-items: center;
}

#gif-search{
	background: none;
	width: 70%;
	height: 30px;
	border: 2px solid #249BCA;
	border-radius: 50px;
	color: #249BCA;
	font-size: 100%;
}

#gif-search:focus{

	outline: none;
}

.search-button{
	width: 32px;
	height: 32px;
	border: none;
	background: url(../images/searchIconBlue.png);
}

.gif-box{
	position: relative;
}

.gif{
	box-shadow: 10px 10px 10px #000000;
	position: relative;
}

.rating{
	color: #249BCA;
	background-color: #FFFFFF;
	border-radius: 0 0 15px 0;
	position: absolute;
	top: 0;
	width: 100px;
	height: 25px;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}



	
.results-box{
	grid-column: 2;
	display: grid;
	grid-template-rows: repeat (4, auto);
	grid-template-columns: repeat(4, auto);
}




/*=======================Media Querries========================*/

/*@media screen and (max-width: 750px) {

	body{
		display: grid;
		grid-template-rows: 100px 1fr;
		grid-template-columns: 175px 1fr;
	}

	.hamburger-button{
		visibility: visible;
		grid-row: 1;
		grid-column: 1;
		align-self: center;
		width: 32px;
		height: 32px;
		border: none;
		background: url(../images/hamburgerIcon.png);
		margin-left: 10px;
	}



	.button-box{
		visibility: hidden;
		grid-row: 2;
		grid-column: 1; 
		border: none;
	}

	.topicSearch{
		font-size: 100%;
	}

	.topicSearch:active{
		color: #CCCCCC;
		font-size: 200%;
	}

	.topicSearch:hover{
		font-size: 100%;
	}


	.search-box{
		grid-row: 1;
		grid-column: 2;
		width: 95%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#gif-search{
		border-radius: 0px;
		width: 65%;
	}

	.results-box{
		grid-row: 2;
		grid-column-start: 1;
		grid-column-end: 3;
		display: flex;
		flex-direction: column;		
		align-items: center;
	}




	.gif-box{
		width: 100%;
		display: flex;
		align-items: center;
		position: relative;
	}

	.gif{
		align-self: flex-start;
		box-shadow: 10px 10px 10px #000000;
	}

	.rating{
		align-self: flex-start;
		color: #249BCA;
		background-color: #FFFFFF;
		border-radius: 0 0 15px 0px;
		position: absolute;
		width: 50%;
		height: 25px;
		z-index: 1;
		display: flex;
		justify-content: center;
		align-items: center;
	}




		.gif-box{
			margin: 60px 0;
		}

}*/




